<p id="notice"><%= notice %></p>

<h1>Posts</h1>


<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Rate</th>
      <th>Kindness</th>
      <th>Sadnedd</th>
      <th>Bitterness</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td>
          <%= post.rate %>
        </td>
        <td>
          <%= post.kindness %>
        </td>
        <td>
          <%= post.sadness %>
        </td>
        <td>
          <%= post.bitterness %>
        </td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>

<canvas id="myChart"></canvas>
<script>
var ctx = document.getElementById("myChart");
var myChart = new Chart(ctx, {
  type: 'radar',
  data: {
    labels: ["Rate", "Kindness", "Sadness", "Bitterness"],
    datasets: 
    [
      <% @ratesum=@posts.sum(:rate) %>
      <% @ratecount=@posts.count(:rate) %>

      <% @kindnesssum=@posts.sum(:kindness) %>
      <% @kindnesscount=@posts.count(:kindness) %>

      <% @sadnesssum=@posts.sum(:sadness) %>
      <% @sadnesscount=@posts.count(:kindness) %>

      <% @bitternesssum=@posts.sum(:bitterness) %>
      <% @bitternesscount=@posts.count(:kindness) %>
        {
        label: "テスト",
        backgroundColor: 'rgba(122,255,129,0.2)',
        borderColor: '#000',
        data: [<%= @ratesum.to_f/@ratecount %>, <%= @kindnesssum.to_f/@kindnesscount %>, <%= @sadnesssum.to_f/@sadnesscount %>, <%= @bitternesssum.to_f/@bitternesscount %>]
        },
    ]
  },
  options: {
      scale: {
          ticks: {
              suggestedMin: 0,
              suggestedMax: 5
          }
      }
  }
});
</script>
